# site information used in page title, meta data etc.
title: 'azycat'
description: azycat's portfolio
baseurl: '/folio'
url: 'https://azycat.github.io'

# color theme for links
theme-color: pink # indigo|yellow|pink|green|stone|

# homepage information
author: azycat
author-bio: 'protoplasmal primordial atomic globule' # change to false to hide
author-image: 56982188.jpg # file must be in the /assets/img/ folder

# navigation menu
show-nav-menu: true

nav-menu:
  - text: Projects
    permalink: projects

git-external: true
git-url: https://github.com/azycat

resume-external: false
# resume-url: https://github.com/azycat

# pagination
collections:
  projects:
    permalink: /project/:name
    output: true

defaults:
  - scope:
      path: '_projects/*.md'
    values:
      layout: 'project'
      sticky: false

width: large

footer-msg: 'azycat'
footer-msg-link: mailto:azycat@icloud.com

include:
  - _pages

exclude:
  - .jekyll-cache/
  - node_modules/
  - Gemfile
  - Gemfile.lock
  - package.json
  - README.md
