---
---

@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply bg-slate-50;
  }

  main {
    @apply mx-6 mt-32 max-w-4xl lg:mx-auto;
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.link-block {
  @apply inline-block no-underline;
}

.link-block:hover {
  background-size: 0% 0rem;
  text-decoration-line: none;
}

.link-button {
  @apply link-block rounded-lg border-2 border-zinc-900 text-sm text-zinc-900 transition-all duration-100 hover:scale-110;
}

.tag {
  @apply rounded-md bg-indigo-100 px-1.5 py-1 text-xs text-indigo-800;
}

.project {
  @apply mx-2 flex flex-col justify-center rounded-lg border-2 border-transparent p-4 hover:border-zinc-900;
}
