<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>{{ site.title }}</title>

    <!-- TailwindCSS -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css" />
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/tailwind.css" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

    <!-- custom header snippets -->
    {% include head/custom.html %}
  </head>

  <body class="mx-auto max-w-prose">
    <div class="pb-4 pt-12">{{ content }}</div>

    <!-- improve click latency -->
    <script
      src="{{site.baseurl}}/assets/js/instantclick.min.js"
      data-no-instant
    ></script>
    <script data-no-instant>
      InstantClick.on('change', () => {
        hljs.highlightAll()
        // handle nav
        const menu = document.getElementById('navbar')
        menu.addEventListener('click', () => {
          menu.classList.toggle('hidden')
          menu.classList.toggle('block')
        })
      })

      InstantClick.init('mousedown')
    </script>
  </body>

  <script src="{{ site.baseurl }}/assets/js/theme.js"></script>
</html>
