---
layout: default
---

<div class="prose px-4 pt-4 prose-img:mx-auto">
  <h1 class="mb-6 mt-6 text-center">{{ page.title }}</h1>
  <div class="text-center">
    {% if page.tags.size !=0 %}
    <i class="fas fa-tags text-xs"></i>
    {% for tag in page.tags %}
    <div
      class="inline-flex items-center rounded-full bg-indigo-100 px-2.5 py-0.5 text-xs font-medium text-indigo-800"
    >
      <a class="!no-underline" href="{{site.baseurl}}/tag#{{ tag }}"
        >{{ tag }}</a
      >
    </div>
    {% endfor %} {% endif %}
  </div>

  <div class="pb-4">
    {% if page.hasThumbnail %}
    <img
      loading="lazy"
      src="/assets/images/projects/{{ page.name | remove: '.md' }}.webp"
      class="rounded-xl{% if page.ignorePreviewAspect != true %} sm:aspect-video{% endif %} mx-auto"
    />
    {% elsif page.youtube %}
    <div class="pt-12">
      <div class="video-container">
        <iframe
          width="80%"
          src="https://www.youtube.com/embed/{{ page.youtube }}"
          frameborder="0"
          allowfullscreen
          loading="lazy"
        >
        </iframe>
      </div>
    </div>
    {% elsif page.github %} {% assign image = page.github | prepend:
    "https://opengraph.githubassets.com/$/" | hashsert %}
    <img
      loading="lazy"
      src="{{ image }}"
      class="mx-auto rounded-xl sm:aspect-video"
    />
    {% endif %}
  </div>
  <!-- markdown content -->
  {{content}}
</div>
